.board {
    position: relative;
}

.board--playing {
    cursor: wait;
}

.board__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 750px;
    min-width: 300px;
    position: relative;
    width: 100%;
}

.board__box {
    height: 100px;
    margin: 10px 0;
}

.board__scoreboard {
    padding: 10px;
    text-align: center;
}
