.Board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
    min-width: 300px;
    position: relative;
    width: 100%;
}
.Board-box {
    height: 100px;
    margin: 10px 0;
}
